@import 'bulma';

body {
  background-color: #EBEBD5;
}

h1 {
  text-align: center;
  font-size: 25px;

}

hr {
  border: solid 1px;
}

.container {
  width: 600px;
  margin: 25px auto;
  border: 3px solid rgba(51, 51, 51, 1);
  padding: 15px;
}

li {
  cursor: pointer;
  margin-bottom: 10px;
}

.completed {
  text-decoration: line-through;
}
